@import "tailwindcss";

@theme {
  --color-brand-red: #ef4444;
  --color-bg-dark: #0f172a;
  --color-card-dark: #1e293b;
  --color-card-hover: #334155;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for category bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
